Source: dtkmultimedia
Section: libdevel
Priority: optional
Maintainer: Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper-compat (= 12),
 cmake,
 librsvg2-dev,
 qtbase5-dev, pkg-config, qttools5-dev-tools,
                libqt5svg5-dev, qtmultimedia5-dev, qttools5-dev,
                libqt5x11extras5-dev, libdtkcore5-bin, libdtkwidget-dev,
                libqt5sql5-sqlite,
                libmpv-dev, libxcb1-dev, libxcb-util0-dev,
                libffmpegthumbnailer-dev,
                libxcb-shape0-dev,libxcb-ewmh-dev, xcb-proto,
                x11proto-record-dev, libxtst-dev,
                libavcodec-dev, libavformat-dev,libavutil-dev,
                libpulse-dev, libdvdnav-dev, libgsettings-qt-dev,
                libmpris-qt5-dev, libdbusextended-qt5-dev, libva-dev,
                libgstreamer-plugins-base1.0-dev, libgstreamer1.0-dev, qtbase5-private-dev
Standards-Version: 4.5.0

Package: libdtkmultimedia
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin Tool dtkmultimedia library
 libdtkmultimedia is base library of Deepin Qt/C++ applications.
 .
 This package contains the shared libraries.

Package: libdtkmultimediawidgets
Architecture: any
Depends: ${misc:Depends}, libdtkmultimedia( =${binary:Version})
Description: Deepin Tool dtkmultimediawidgets library
 libdtkmultimediawidgets is base library of Deepin Qt/C++ applications.
 .
 This package contains the shared libraries.

Package: libdtkmultimedia-dev
Architecture: any
Depends:${misc:Depends}, libdtkmultimedia( =${binary:Version}), libdtkmultimediawidgets( =${binary:Version})
Description: Deepin Tool dtkmultimedia devel library
 libdtkmultimedia-dev is base devel library of Deepin Qt/C++ applications.
 .
 This package contains the header files and static libraries.
